* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* max-width: 100%; */
    /* border: 1px solid red; */
}

.wrapper > * {
    border: 1px solid black;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: "sidebar header"
                         "sidebar main-content";
    width: 100%;
    height: 100%;
}

.sidebar {
    grid-area: sidebar;
    background-color: #0ea5e9;
    color: aliceblue;
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-top: 20px;
    /* display: grid;
    grid-template-columns: 1fr 9fr; */

}

.header {
    grid-area: header;
}

.main-content {
    grid-area: main-content;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 9fr;
    font-size: 2rem;
    gap: 15px;

}

.account {
    padding-top: 3rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 9fr;
    gap: 15px 15px;

}


.settings {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 9fr;
    gap: 15px 15px;
    padding-top: 4rem;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px 30px;
}

.upper {
    display: grid;
    grid-template-columns: 40px 5fr 4fr 1fr 2fr;
    gap: 15px;
    align-content: center;
}

/* .upper > img {
    justify-self: end;
} */
.magnify {
    justify-self: end;
    align-self: center;
}

input {
    background-color: #d1d5db;
    border-radius: 15px;
    border: none;
    padding-left: 15px;
}

.popeye {
    border-radius: 50%;
    border: 1px solid black;
    justify-self: center;
}

.account-name {
    font-weight: bold;
    font-size: 1.5rem;
    /* justify-self: center; */
    align-self: center;
}

.lower {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 45%;
}

.lower-left {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 40px;
    grid-template-areas: "popeye greet"
                         "popeye account";
}

.popeye-lower {
    grid-area: popeye;
    border-radius: 50%;
    border: 1px solid black;
    /* justify-self: center; */
    align-self: center;
}

.greet {
    grid-area: greet;
    font-weight: bold;
    font-size: 0.9rem;
    align-self: center;
}

.account-2 {
    grid-area: account;
    font-weight: bold;
    font-size: 1.5rem;
}

.lower-right {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 30px;
    align-items: center;

}

button {
    background-color: #0ea5e9;
    color: white;
    border-radius: 30px;
    border: none;
    padding: 10px 15px;
    /* margin: 10px */
}